@use "variables";
@use "function";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin container {
  max-width: variables.$container;
  margin: 0 auto;
  padding: 0 function.spacing(2);
}
